
// ========================================
//
// @file _defaults.scss
// Default variables.
//
// ========================================

$logo: '/themes/contrib/ongea_theme/assets/images/default/no-logo.jpg';
$search: '/themes/contrib/ongea_theme/assets/images/icons/search.png';
$icons: '/themes/contrib/ongea_theme/assets/images/icons/ongeaicons.png';
$iconsWithoutFlag: '/themes/contrib/ongea_theme/assets/images/icons/ongeaicons-without-flag.png';
$ongeaLogo: '/themes/contrib/ongea_theme/assets/images/default/ongealogo.png';