// ========================================
//
// @file _forms.scss
// Inputs and other various form elements
//
// ========================================

.form-item {
  margin-bottom: $gap;

  label {
    float: left;
    margin-bottom: .2rem;
  }
  input {
    max-width: 100%;
  }
  .description {
    margin-top: .2rem;
    @include rem('font-size', 12px);
  }
}

label {
  
}

input[type=text],
input[type=email],
input[type=password] {
  background-color: $color-white;
  background-image: none;
  border: 1px solid $color-secondary;

  &:focus {

  }
}

textarea {

  &:focus {

  }
}

input[type=checkbox] {

}

input[type=radio] {

}

input[type=file] {

  &:focus {

  }
}