// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================
.header {
    $this: &;

    height: $header-height;
  background-color: $color-grey;
  margin-top: $header-padding-top;
  position: relative;
  margin-bottom: 4em;
 &__content {
   position: relative;
 }
  &__branding {
    position: relative;
    width: $logo-width;
    height: $header-nav-height;

    > a:last-child {
      display: none;
    }
  }
  &__logo {
     max-width: 100%;
  }

}
