// ========================================
//
// @file _teaser.scss
// Media element on the page
//
// ========================================

// root-elem
$root: '.teaser';

// elements
#{$root} {
    &__header {
        &-left {
            float:left;
        }
        &-right {
            float: right;
            text-align: right;
        }
        @include clearfix;
    }

    &__title {
        text-align:center;
    }

    &__read-more {
        text-align: right;
    }
}

//modifiers
