// ========================================
//
// @file _base.scss
// Base level tags and styles
//
// ========================================

::selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

::-moz-selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

html {
  box-sizing: border-box;
}

body {
  background: $color-body;
  font-smoothing: antialiased;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  position: relative;
  //background-color: $color-white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto !important;
  margin: 0;
  max-width: 100%;
  transition: 0.4s;
}

hr {
  width: 80%;
  margin: $quadGab 10%;
  height: 2px;
  border-width: 0;
  background-color: $color-primary;
  position: relative;
  overflow: visible;
  
  /*&:before {
    content:'';
    z-index: -1;
    margin-left: -1px;
    margin-top: -1px;
    background-color: $color-secondary;
    height: 2px;
    width: 100%;
    position: absolute
  }*/
}