// ========================================
//
// @file _profile.scss
// Profile page design.
//
// ========================================

.page-container.-profile {
    .page-breadcrumb {
        width: 86%;
        @include translate(-45px, y);
    }
    .page-content {
        margin-top: 100px;
        .-flex {
            .flex-content {
                span {
                    display: none;
                    @include dlUp{
                        display: block;
                    }
                }
            }
        }
    }
    
}