# os
.DS_Store

# editor
.idea


## drupal
# Ignore directories

# Ignore sensitive information

# Ignore Drupal's file directory

# build pipeline
build.zip
tmp
web/sites/simpletest
web/core/lib/Drupal/Core/Test/TestSetupTrait.php
build/*
