
@-webkit-keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

// Slider animations...

@-webkit-keyframes leftsideImage {
    from { 
        @include translate(0%);
        opacity: 0.5;
    }
    to { 
        @include translate(100%);
        opacity: 1;
    }
}
@keyframes leftsideImage {
    from { 
        @include translate(0%);
        opacity: 0.5;
    }
    to { 
        @include translate(100%);
        opacity: 1;
    }
}

@-webkit-keyframes leftsideText {
    from { 
        @include translate(0%);
        opacity: 0.5;
    }
    to { 
        @include translate(-70%);
        opacity: 1;
    }
}
@keyframes leftsideText {
    from { 
        @include translate(0%);
        opacity: 0.5;
    }
    to { 
        @include translate(-70%);
        opacity: 1;
    }
}


@-webkit-keyframes rightsideImage {
    from { 
        @include translate(100%);
        opacity: 0.5;
    }
    to {
        @include translate(0%);
        opacity: 1;
    }
}
@keyframes rightsideImage {
    from { 
        @include translate(100%);
        opacity: 0.5;
    }
    to {
        @include translate(0%);
        opacity: 1;
    }
}

@-webkit-keyframes rightsideText {
    from { 
        @include translate(-70%);
        opacity: 0.5;
    }
    to { 
        @include translate(0%);
        opacity: 1;
    }
}
@keyframes rightsideText {
    from { 
        @include translate(-70%);
        opacity: 0.5;
    }
    to { 
        @include translate(0%);
        opacity: 1;
    }
}