// ========================================
//
// @file _colors.scss
// Color variables.
//
// ========================================

$white: #fff;
$footerGrey: #D9D9D9;
$lightGrey: #ccc;
$darkGrey: #323232;
$black: #000;
$yellow: #ffda34;
$green: #6ebf80;

// Bootstrao colors:
$primary:   #007bff!important;
$secondary: #6c757d!important;
$success:   #28a745!important;
$error:     #dc3545!important;
$danger:    #dc3545!important;
$warning:   #ffc107!important; 
$info:      #17a2b8!important;