// ========================================
//
// @file _sizes.scss
// Contain all size variables used in this theme.
//
// ========================================

$xs:    575.98px;
$sm:    576px;
$smMax: 767.98px;
$md:    768px;
$mdMax: 991.98px;
$dl:    992px;
$dlMax: 1199.98px;
$lg:    1200px; 
$lgMax: 1399.98px;
$xl:    1400px;