{% if node.field_image.entity.uri.value is not empty %}
    {% set setimage = { 'url': file_url(node.field_image.entity.uri.value), 'alt': node.field_image.alt } %}
{% else %}
    {% set setimage = '' %}
{% endif %}
{% if node.body.summary is not empty %}
    {% set summary = node.body.summary %}
    {% set text = summary|length > 450 ? summary|slice(0, 450)|raw ~ '...' : summary|raw %}
{% else %}
    {% if 'video_url' in node.body.value %}
        {% set video = node.body.value|split('</p>') %}
        {% set bodyV = "" %}
        {% for v in video %}
            {% if 'video_url' not in v %}
                {% set bodyV = bodyV ~ v %}
            {% endif %} 
        {% endfor %}
        {% set body = bodyV|striptags|replace({'&amp;': '&', '&nbsp;': ' ', '&gt;': '>', '&lt;': '<'}) %} 
        {% set text = body|length > 450 ? body|slice(0, 450)|raw ~ '...' : body|raw %}
    {% else %}
        {% set body = node.body.value|striptags|replace({'&amp;': '&', '&nbsp;': ' ', '&gt;': '>', '&lt;': '<'}) %}
        {% set text = body|length > 450 ? body|slice(0, 450)|raw ~ '...' : body|raw %}
    {% endif %}
{% endif %}
{% set data = {
    'nid': node.id,
    'author': {
        'id': node.Owner.uid.value,
        'name': node.Owner.name.value,
        'first_name': author_first_name,
        'last_name': author_last_name,
        'profile': author_profile
    },
    'name': node.label,
    'title': node.label,
    'body': text,
    'image': setimage,
    'taxonomy': node.field_tags,
    'created': node.created.value,
    'listname': listname
} %}



{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
        {% include '@ongea_theme/components/lists/universal-list.html.twig' with data %}
    {{ title_suffix }}
</article>
