.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-bold { font-weight: bold; font-size: 14px; letter-spacing: 0.03em; color: #000 }
.text-upper { text-transform: uppercase; }
.text-capital { text-transform: capitalize; }
.text-lower { text-transform: lowercase; }

.xs-hide { @include xs { display: none } }
.sm-hide { @include sm { display: none } }
.md-hide { @include md { display: none } }
.dl-hide { @include dl { display: none } }
.lg-hide { @include lg { display: none } }
.xl-hide { @include xl { display: none } }

.sm-down-hide { @include smDown { display: none } }
.md-down-hide { @include mdDown { display: none } }
.dl-down-hide { @include dlDown { display: none } }
.lg-down-hide { @include lgDown { display: none } }
.xl-down-hide { @include xlDown { display: none } }

.xs-show { @include xs { display: block } }
.sm-show { @include sm { display: none } }
.md-show { @include md { display: block } }
.dl-show { @include dl { display: block } }
.lg-show { @include lg { display: block } }
.xl-show { @include xl { display: block } }

.hidden { display: none !important }
.half { width: 49.999%; float: left; }

.-logo {
    box-shadow: 0 0 25px rgba(255, 255, 255, 1);
    /*background: $white url($logo) no-repeat center;
    background-size: 75%;*/
}