// ========================================
//
// @file _lists.scss
// Lists.
//
// ========================================

.list-item {
    margin: 25px 0px;
    .list-container {
        position: relative; 
        padding: 45px 0px; 
        width: 90%; 
        margin: auto; 
        .image-container { 
            z-index: 1; 
            height: 220px;
            -webkit-transition: 280ms ease-in-out;
            -moz-transition: 280ms ease-in-out;
            -o-transition: 280ms ease-in-out;
            transition: 280ms ease-in-out;
        }
        .text-container {
            @include font('Nunito-Light', 'Nunito Light', 'Nunito');
            z-index: 2; 
            height: 220px; 
            display: flex; 
            justify-content: center; 
            align-items: center;
            @include smDown {
                padding-left: 7.5px;
                width: 100%;
            }
            @include md {
                padding-left: 7.5px;
                width: 100%;
            }
            p { margin: 0px; }
            .-content {
                padding: 25px; 
                @include shadow(25px, 0.15, false); 
                min-height: 180px; 
                background: #fff;
                width: 100%; 
                @include translate(-14.333%); 
            }
            .-titles { 
                margin-bottom: 15px;
                .-title { font-weight: bold; margin: 5px auto; }
                .-subtitle { margin: 2px auto; }
                .-body { @include smDown { display: none; } }
            }
            .-read-more {
                .-link { 
                    text-decoration: none; 
                    color: #323232;
                    .-text { margin-bottom: 0px; }
                    &:hover { font-weight: bold; }
                }
            }
        }
        &:hover {
            .image-container { transform: translateX(-20px); }
        }
    }
}

// Reverse list items
.list-item.reverse {
    .list-container {
        .text-container {
            .-content { @include translate(14.333%); }
        }
    }
    &:hover {
        .image-container { @include translate(20px); }
    }
}

// Large list
.large-list {
    .list-container {
        padding: 15px 0px; 
        .image-container { height: 420px; }
        .text-container { 
            height: 420px; 
            .-content { 
                padding: 25px;
                @include dlUp {
                    height: 470px;
                }
            }
            .-titles { 
                margin-bottom: 25px;
                @include dlUp {
                    height: 285px;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                .-middle-content{
                    .-title { 
                        margin: 25px auto;
                    }
                }
            }
        }
        @include smDown { 
            .text-bold,
            .-author,
            .-published,
            .-link .-text{
                font-size: 12px;
            }
        }
    }
}

// Medium list
.medium-list {
    .list-container {
        .text-container { 
            .-titles { 
                .-title { margin: 15px auto; }
            }
        }
    }
}

// Small list
.small-list { 
    .list-container { 
        .text-container {
            .-content {
                min-height: 120px;
                .-titles { 
                    margin-bottom: 5px;
                    .-title { font-size: 18px; }
                }
            }
        }
    }
}

// Teaser list 
.teaser-list { 
    .list-container { 
        .image-container { height: 520px; }
        .text-container {
            height: 110px !important; 
            @include dlUp {
                height: 520px !important;
            }
            .-content {
                @include translate(0);
                @include sm { padding: 30px;}
                @include mdUp { padding: 30px;}
                .teaser-logo {
                    height: 75px;
                    .-logo {
                        padding: 25px;
                        width: 160px;
                        margin: auto;
                        height: 160px;
                        display: none;
                        @include shadow(25px, 0.25);
                        @include translate(-65%, y);
                        @include xsUp{ display: block; }
                    }
                }
                .-titles {
                    .-nickname { padding-bottom: 15px; }
                    .-title { margin: 15px auto; }
                    .-subtitle { margin-bottom: 15px; }
                    .-body { text-align: justify; }
                    .-taxonomy {
                        padding-top: 10px;
                        .-term {
                            color: $darkGrey;
                            &:hover {
                                font-weight: bold;
                            }
                        }
                    }
                }
                a {
                    color: $darkGrey;
                    text-transform: uppercase;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}