// ========================================
//
// @file _main-menu.scss
// Main menu design.
//
// ========================================

.ongea-navigation {
    margin-bottom: 65px;
    position: relative;
    z-index: 5;
    .main-menu {
        position: relative;
        z-index: 4;
        width: 80%;
        margin: auto;
        .burger {
            z-index: 6;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 60px;
            padding: 15px;
            margin: auto auto 5px auto;
            background: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include mdUp { display: none; }
            @include shadow(15px, 0.35, true);
            .-icon {
                font-size: 48px;
                color: $darkGrey;
            }
            .-times { display: none; }
        }
        .-content {
            z-index: 4;
            display: none;
            @include mdUp{
                display: block;
            }
            #block-mainmenu {
                margin: auto;
                text-align: center;
                background: $white;
                @include translate(40px, y);
                @include shadow(15px, 0.35, false);
                @include mdUp{
                    @include translate(0px, y);
                }
                .menu--main-menu {
                    padding: 35px 0px;
                    @include mdUp{ 
                        padding: 0px;
                    }
                }
                .nav > li {
                    position: relative;
                    text-align: center;
                    @include xs{ width: 100%; }
                    @include sm{ width: 100%; }
                    a {
                        color: $darkGrey;
                        display: block;
                        width: 100%;
                        padding: 25px 5px;
                        &:hover { text-decoration: underline; }
                        text-transform: uppercase;
                        @include md { font-size: 13px; }
                    }
                    .menu-icons {
                        position: absolute;
                        top: 0;
                        right: 0;
                        align-items: center;
                        .menu-icon {
                            padding: 25px;
                            cursor: pointer;
                            @include mdUp{ padding: 25px 10px; }
                        }
                        @include mdUp{
                            .fa-chevron-up { display: none; }
                            .fa-chevron-down { 
                                display: block !important;
                                cursor: default;
                            }
                        }
                        @include md{ display: none; }
                        @include dl{ display: none; }

                    }
                    &:hover {
                        @include mdUp{
                            .dropdown-menu {
                                display: block;
                            }

                        }
                    }
                }
                .active > a {
                    text-decoration: underline;
                }
                .dropdown-menu {
                    background: #f2f2f2;
                    z-index: 3;
                    display: none;
                    padding: 0px;
                    width: 100%;
                    box-shadow: inset 0 3px 10px #828282;
                    @include mdUp{ 
                        position:absolute; 
                        box-shadow: inset 0px 4px 8px -4px #828282,
                        -3px 0px 5px -3px #828282,
                        0px 6px 10px -5px #828282,
                        5px 0px 5px -3px #828282
                    }
                    &:hover {
                        display: block;
                    }
                    li {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}