// ========================================
//
// @file _pager.scss
// Custom pager design
//
// ========================================

.pager {
    z-index: 5;
    position: relative;
    width: 100%;
    margin: 200px auto 45px auto;
    @include smUp { margin: 45px auto; }
    .js-pager__items,
    .pager__items {
        padding: 0px;
        margin: 0px;
        text-align: center;
        .pager__item {
            list-style: none;
            display: inline-block;
            padding: 10px 15px;
            a {
                display: block;
            }
            &:hover {
                background:  #ffda34;
                a {
                    color: #fff;
                }
            }
        }
        .is-active {
            background: #ffda34;
            a {
                color: #fff;
            }
        }
    }
}