.alert {
    position: relative;
    width: 90%;
    margin: 5px auto;
    padding: 15px;
    border-top: 1px solid $footerGrey;;
    border-bottom: 1px solid $footerGrey;
    @include lgUp {
        width: 80%;
    }
    .close {
        float: right;
        border: transparent;
        background: transparent;
        &:hover {
            font-weight: bold;
        }
    }
} 
.alert-success {
    border-top-color: $success;
    border-bottom-color: $success;
    color: $success;
    a {
        color: $success;
        opacity: 0.75;
        &:hover { text-decoration: underline; }
    }
}
.alert-danger,
.alert-error {
    border-top-color: $error;
    border-bottom-color: $error;
    color: $error;
    a {
        color: $error;
        opacity: 0.75;
        &:hover { text-decoration: underline; }
    }
}
.alert-warning {
    border-top-color: $warning;
    border-bottom-color: $warning;
    color: $warning;
    a {
        color: $warning;
        opacity: 0.75;
        &:hover { text-decoration: underline; }
    }
}
.alert-info {
    border-top-color: $info;
    border-bottom-color: $info;
    color: $info;
    a {
        color: $info;
        opacity: 0.75;
        &:hover { text-decoration: underline; }
    }
}