<?xml version="1.0"?>
<!-- See http://pear.php.net/manual/en/package.php.php-codesniffer.annotated-ruleset.php -->
<ruleset name="Potx">
 <description>Potx coding standard</description>

 <rule ref="Drupal">
    <exclude name="Drupal.Functions.DiscouragedFunctions"/>
  </rule>
</ruleset>