.field--type-pbf div.form-type-checkbox {
  display: inline;
  margin-right: 1em;
}

.field--type-pbf .form-type-checkbox label:after,
.field--type-pbf .form-type-checkbox .label:after {
  content: '';
}

.field--type-pbf .form-item .description.pbf-help {
  font-size: 0.8em;
}

.field--type-pbf tbody tr .pbf-help {
  display: none;
}

.field--type-pbf tbody tr:first-child .pbf-help {
  display: block;
}
