.slider {
    position: relative;
    @include md {
        width: 135%;
        @include translate(-13%);
    }
    @include dlUp {
        width: 220%;
        @include translate(-27.5%);
    }
    .lg-flexed-content {
        @include lgUp {
            display: flex;
            justify-content: space-around;
        }
    }
    .md-flexed-content {
        @include mdUp {
            display: flex;
            justify-content: space-around;
        }
    }
    .fix-height { 
        min-height: 540px;
        width: 100%;
        margin: 0px;
    }
    .slide {
        display: none;
        position: absolute;
        @include mdUp { 
            display: block;
            position: relative;
        }
        .slider-content {
            .image-container { 
                height: 280px; 
            }
            .slider-text {
                min-height: 260px;
                .text-content {
                    min-height: 220px;
                    padding: 25px;
                    background: $white;
                    width: 90%;
                    margin: auto;
                    @include shadow(12px, 0.15);
                    @include translate(-10%, y);
                    .slider-title {
                        font-size: 22px;
                        line-height: 28px;
                        @media screen and (min-width: 440px) {  
                            margin-bottom: 85px; 
                        }
                    }
                    .half {
                        min-height: 10px;
                        width: 49.99;
                        float: left;
                        a {
                            font-size: 14px;
                            color: $darkGrey;
                            text-transform: uppercase;
                            &:hover {
                                font-weight: bold;
                            }
                        }
                        p { font-size: 14px; }
                    }
                }
            }
        }
    }
    .slide-active {
        display: block;
        @include sm {
            width: 100%;
            padding: 0px;
            @include fadeIn(fadeIn, 480ms);
        }
        @include md {
            padding: 0px;
            @include fadeIn(fadeIn, 480ms);
        }
    }
    .indicators {
        display: block;
        @include mdUp {
            display: none;
        }
        .link {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}