.social-menu {
    width: 100%;
    padding: 25px;
    .-icons {
        padding: 0px;
        margin: 0px;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            font-size: 22px;
            padding: 0px 6.5%;
            @include mdUp{ padding: 0px 4.5%; }
            a {
                color: $darkGrey;
                &:hover {
                    text-shadow: 0 0 25px rgba(0,0,0,0.15);
                }
            }
        }
    }
}