{# {{ dump(node|keys) }} #}

{# field_ongea_street
field_ongea_town #}

{% set type = 'Profile'|t %}
{% if node.field_ongea_birthdate.value is not empty %}
    {% set date = ('now'|date('Y') - node.field_ongea_birthdate.value|render|date('Y')) %}
{% else %}
     {% set date = '' %}
{% endif %}

{% if node.field_ongea_link_to_example_of.value.0.uri is not empty %}
    {% set website = { 'url': node.field_ongea_link_extern.uri, 'title': node.field_ongea_link_extern.title }  %}
{% else %}
     {% set website = '' %}
{% endif %}

{% if node.field_ongea_show_my_mail.value == 0 %}
    {% set mail = '' %}
{% else %}
    {% set mail = node.field_ongea_mail_address.value %}
{% endif %}

{% if node.field_ongea_show_my_phone.value == 0 %}
    {% set phone = '' %}
{% else %}
    {% set phone = node.field_ongea_participant_phone.value %}
{% endif %}

{% if website is not empty or mail is not empty or phone is not empty %}
    {% set contact = { 'email': mail, 'telephone': phone, 'website': website } %}
{% else %}
    {% set contact = '' %}
{% endif %}

{% if date is not empty or node.field__ongea_participant_langs is not empty or node.field_ongea_profile_pic.alt is not empty %}
    {% set about = { 'age': date, 'languages': node.field__ongea_participant_langs, 'skills': node.field_ongea_rt_skills } %}
{% else %}
    {% set about = '' %}
{% endif %}

{% if node.field_ongea_profile_pic.entity.uri.value is not empty or node.field_ongea_profile_pic.alt is not empty %}
    {% set logo = { 'url': file_url(node.field_ongea_profile_pic.entity.uri.value), 'alt': node.field_ongea_profile_pic.alt } %}
{% else %}
    {% set logo = '' %}
{% endif %}

{%
    set data = {
        'nid': node.id,
        'nickname': node.field_ongea_nickname.value,
        'first_name': node.field_ongea_first_name.value,
        'last_name': node.field_ongea_last_name.value,
        'description': node.field_ongea_about_me.value,
        'image': {
            'url': file_url(node.field_ongea_profile_pic.entity.uri.value),
            'alt': node.field_ongea_profile_pic.alt
        },
        'logo': logo,
        'profile_page': true,
        'about': about,
        'contact': contact,
        'permissions': {
            'mail': node.field_ongea_show_my_mail.value,
            'phone': node.field_ongea_show_my_phone.value,
            'address': node.field_ongea_show_my_address.value,
            'name': node.field_ongea_show_my_real_name.value
        },
        'breadcrumbs': breadcrumbs,
        'prev': prev,
        'next': next,
        'all_languages': languages
    }
%}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <section class="page-container -profile">
        <div class="row">
            
            {% include '@ongea_theme/components/full-content.html.twig' with data %}

        </div>
    </section>

</article>



