// ========================================
//
// @file _page-base.scss
// This file contains base design for all ongea pages.
//
// ========================================

.page-container {
    min-height: 100%;
    position: relative;
    width: 90%;
    @include smDown { width: 100% !important; }
    margin: auto;
    @include font('Nunito-Light', 'Nunito Light', 'Nunito');
    p { 
        margin: 0px;
        font-size: 18px;
        line-height: 25px;    
    }
    .page-breadcrumb {
        width: 100%;
        margin: 15px auto;
        margin-top: 30px;
        @include smDown { margin-left: 20px !important; }
        .-link {
            color: $darkGrey;
            &:hover {
                font-weight: bold;
            }
        }
    }
    .no-image {
        width: 86%;
        @include translate(-45px, y);
    }
    .page-background {
        width: 100%;
        margin: auto;
        padding-top: 40%;
        min-height: 400px;
        @include dlUp { margin-bottom: 40px; }
    }
    .content-no-image{
        margin-top: 100px;
    }
    .page-content {
        .left-content {
            display: block;
            @include dlUp { display: block; }
            z-index: 2;
            .-flex {
                @include translate(-50%, y);
                @include shadow(15px, 0.15, true);
                @include dl { @include translate(0); }
                @include lg { @include translate(10%); }
                @include xl { @include translate(40%); }
                margin: auto;
                padding: 30px;
                min-height: 240px;
                width: 240px;
                background: $white;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .flex-content {
                    max-width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    a {
                        color: $darkGrey;
                        &:hover { font-weight: bold; }
                    }
                    .pt {
                        padding-top: 15px;
                    }
                    p {
                        width: 100%;
                        word-break: break-all;
                    }
                    .ongea-project {
                        display: block;
                    }
                    .-logo {
                        width: 180px;
                        height: 180px;
                        background-size: 100%;
                    }
                }
            }
        }
        .center-content {
            z-index: 1;
            @include smDown { 
                width: 90%;
                margin: auto;
            }
            .-content{
                @include shadow(15px, 0.15);
                @include translate(-165px, y);
                @include dlUp {
                    @include translate(-130px, y);
                }
                padding: 45px 55px;
                @include mdUp {
                    padding: 55px 65px;
                }
                @include md {
                    width: 90%;
                    margin: auto;
                }
                background: $white;
                .-dates {
                    padding: 0px 0px 15px 0px;
                    p {
                        width: 100%;
                        word-break: break-all;
                    }
                }
                .body-content {
                    padding: 0px;
                    @include xl { padding: 25px;}
                    .-title {
                        text-align: left;
                        font-size: 50px;
                        line-height: 60px;
                        font-weight: 700;
                        color: $black;
                        @include lg { 
                            font-size: 46px;
                            line-height: 46px;
                        }
                        @include xl { 
                            font-size: 60px;
                            line-height: 60px;
                        }
                    }
                    .sign-up {
                        .sign-up-btn {
                            padding: 15px 25px;
                            width: 100%;
                            @include dlUp{ width: 300px; }
                            @include shadow(25px, 0.15, true);
                            height: 55px;
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                    .-body {
                        text-align: justify;
                        margin-bottom: 45px;
                    }
                    .-attachment {
                        a {
                            color: $darkGrey;
                            &:hover { font-weight: bold; }
                        }
                    }
                    .-duplicate {
                        padding-bottom: 25px;
                        @include dlUp {
                            display: none;
                        }
                        .-logo { display: none;}
                        span {
                            text-align: left !important;
                            width: 50%;
                            p {
                                width: 100%;
                                word-break: break-all;
                            }
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        a {
                            color: $darkGrey;
                            &:hover { font-weight: bold; }
                        }
                        .pt {
                            padding-top: 15px;
                        }
                    }
                    .-social {
                        padding-top: 25px;
                        .-icons {
                            .-icon {
                                font-size: 28px;
                                padding: 10px 15px;
                                color: $darkGrey;
                            }
                        }
                    }
                }
            }
        }
        .right-content {
            z-index: 2;
            .-content {
                ul {
                    padding: 0px;
                    li {
                        list-style-type: none;
                    }
                }
            }
        }
        .prev-next-links {
            margin: auto;
            @include md { width: 90%; }
            @include sm { width: 96%; }
            .-links {
                padding: 0px 30px;
                width: 49%;
                @include md { padding: 15px; }
                @include dlUp {
                    width: 100%;
                    width: 20%; 
                    @include translate(-200px, y);
                }
                a { 
                    color: $darkGrey;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .-prev {
                float: left;
                @include dlUp { text-align: right; }
                a { 
                    p { @include lgUp { padding-right: 25px; } }
                }
            }
            .-next {
                float: right;
                text-align: right;
                @include dlUp { text-align: left; }
                a { 
                    p {@include lgUp { padding-left: 25px; } }
                }

            }
        }
    }
}